ul {
    list-style-type: none;
    padding-inline: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #c3c2c2;
}

.comments-container {
    width: 80%;
    margin-inline: auto;
}

.comment {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
}

.comment-text {
    margin-bottom: 10px;
    font-family:sans-serif
}

.comment-data {
    font-size: 12px;
    font-family: sans-serif;
    color: #5a5b5c;
}
.comment-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: sans-serif;
}

.new-comment {
    display: flex;
    flex-direction: column;
}

.add-button-container {
    display: flex;
    margin-inline: auto;
    margin-top: 10px;
}

.add-comment-btn {
    width: 25%;
    padding: 10px;
    background-color: #289e49;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;      
    margin-inline: auto;
}

textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    
}

.mention-text {
    font-weight: bold;
}

.mention-dropdown-container {
    position: relative;
    width: 100%; 
    border: 1px solid #ccc;
  }
  
  .mention-dropdown {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    max-height: 200px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto; 
    border-top: none;
    border: 1px solid #ccc;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000; 
  }
  
  .mention-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .mention-item:hover,
  .mention-item.selected {
    background-color: #f0f0f0; 
  } 
  